<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title >Library</title>
</head>

<style>

	.button{
		height:50px;
		width:150px;
		text-align: center;
		border-radius: 12px;
		background-color: #5f9ea0;
		color: #5f9ea0;
		font-size: 100%;
	}

</style>

<body>
	<div class="starter-template">
		<h1 >Welcome to the online library</h1>
		<button class="button">
			<a href="book-list.html">Books</a>
		</button>
		<button class="button">
			<a href="author-list.html">Author</a>
		</button>
		<button class="button">
			<a href="genre-list.html">Genres</a>
		</button>
	</div>
</body>
</html>