<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create book form</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<!-- Book insert -->
<form id="insertBook-form" th:action="@{/edit-book}" th:method="post" action="add-book.html">
    <h1>Добавление книги:</h1>

    <div class="row">
        <label for="holder-input">Book title:</label>
        <input id="holder-input" name="title" type="text" value=""/>
    </div>

    <div class="row">
        <label for="author-lookup">Author:</label>
        <select class="form-control" name="author" id="author-lookup">
            <option th:each="author : ${authors}"
                    th:value="${author.fullName}"
                    th:utext="${author.fullName}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="genre-lookup">Genre:</label>
        <select class="form-control" name="genre" id="genre-lookup">
            <option th:each="genre : ${genres}"
                    th:value="${genre.genreName}"
                    th:utext="${genre.genreName}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Create</button>
    </div>

</form>

</body>
</html>