<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Authors list</title>
 <style type="text/css">
        body {
            padding: 50px;
        }
        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h2>Authors</h2>
<div th:fragment="authors">
	<table class="table table-bordered table-hover horizontal-align">
		<thead>
		<tr>
			<th style="width: 5%" bgcolor="#5f9ea0">#</th>
			<th style="width: 15%" bgcolor="#5f9ea0">Author full name</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="author : ${authors}">
			<td th:text="${author.id}" style="text-align: center" bgcolor="#d3d3d3">#</td>
			<td th:text="${author.fullName}" bgcolor="#d3d3d3">Author</td>
		</tr>
		</tbody>
	</table>
</div>
	<button id="returnButton">Return</button>
	<script>
    $("#returnButton").click(function() {
        let url = "/index";
        $(location).attr('href',url);    
    });    
	</script>
</body>
</html>